@font-face {
    font-family: 'DancingScript';
    font-style: normal;
    src: local(''),
        url('font/DancingScript-Bold.ttf') format('ttf'),
        url('font/DancingScript-Medium.ttf') format('ttf'),
        url('font/DancingScript-Regular.ttf') format('ttf'),
        url('font/DancingScript-SemiBold.ttf') format('ttf'),
        url('font/DancingScript-VariableFont_wght.ttf') format('ttf'),
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-between;
}

header input {
    border-radius: 20px;
    font-size: 17px;
}

header img {
    height: 20px;
    width: 20px;
}

header a {
    text-decoration: none;
    color: black;
    padding-left: 18px;
}

.headerIcons {
    padding: 30px;
}

.headerIcons img {
    padding-left: 8px;
    padding-right: 8px;
}

.headerIcons img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.postContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 100px;
    width: 50%;
    border-radius: 10px;
}

.postContent img {
    border: 1px solid black;
    object-fit: contain;
    width: 100%;
}

.imgHeadline {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-left: 16px;
}

.authorContainer {
    display: flex;
    gap: 8px;
}

.locationContainer {
    display: flex;
    flex-direction: column;
}

.locationSpan {
    font-size: 12px;
}

.profileImg {
    height: 30px !important;
    width: 30px !important;
    object-fit: cover !important;
    border-radius: 100%;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    margin-left: 8px;
    gap: 8px;
}

.icons {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.icons img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border: unset;
    padding-left: 8px;
    padding-right: 8px;
}

.icons img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.arrowRotate {
    transform: rotate(-45deg);
}

.likes {
    width: 100%;
    margin-left: 10px;
    margin-top: 6px;
}

.profileContent {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    gap: 8px;
}

.suggestions {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #595959;
}

.nameImg {
    display: flex;
    gap: 8px;
}

.profileContainer {
    display: flex;
    margin-top: 16px;
    gap: 8px;
    justify-content: space-between;
}

.followButton {
    border: none;
    background-color: unset;
    color: #3aadf7;
}

button:hover {
    cursor: pointer;
}

.clickFollow {
    color: grey;
}

.commentInputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    border-top: solid 1px black;
}

.commentInput {
    border: none;
    margin-left: 45px;
    width: 80%;
    height: 30px;
}

.commentsContainer {
    margin-bottom: 12px;
    width: 100%;
    margin-left: 8px;
}

@media screen {
    @media (max-width: 1000px) {
        .icons img{
            height: 20px
        }
    }

    @media (max-width:950px) {
        .profileContainer {
            display: none;
        }

        .suggestions {
            display: none;
        }

        .postContent {
            width: 80%;
        }
    }

    @media (max-width:650px) {
        .completeContent {
            display: flex;
        flex-direction: column;
        align-items: center;
        }

        .postContent {
            width: 80%;
            margin-left: unset;
        }

        .headerIcons {
            display: none;
        }     
        
        .icons img{
            height: 20px
        }
    }

    @media (max-width: 550px) {
        .icons img{
            height: 20px
        }
    }

    @media (max-width: 500px) {
        header {
            justify-content: center;
        }

        .d-none {
            display: none;
        }

        .icons img{
            height: 20px
        }
    }
}